# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Pipenv
*.log

# Vue / Node
frontend/node_modules/
frontend/dist/

# Vercel
.vercel/
frontend/.vercel/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db